
body{
  margin: 0;
  position: relative;
}
*{
  box-sizing: border-box;
  margin: 0;
}
.logo {
font-family:  'Lucida Sans';
font-size: 20px;
}
.header_container 
{
  position: absolute;
  display: block;
  overflow: hidden;
  height: 50px;
  top:0;
  padding-left: 20px;
  padding-right: 20px;
  width:100%;
  box-shadow:0px 20px 50px rgb(153, 152, 152) ;
  }
 
.nav {
display:flex;
height: 100%;
align-items:center;
padding: 0 1rem;
}


ul{
  list-style-type:none;
  padding:10px;
  margin: 0;
 
  
}
li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
 
}

li a:hover {
border-top: solid orangered;
  background-color: white;
}


.space{
  flex:1;
}

/*<!-- ---------- Home -------------- -->*/

.home_container{
  background-image: url(./img/home.jpg);
  background-repeat: no-repeat;
  border: solid black;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.home_text{
  margin-left: 10%;
  width: 300px;


}
.home_text h1{
  padding-bottom: 10px;
}
.home_text p {
  padding-bottom: 20px;
  text-align: justify;
}
.home_text .button_home {
  display: flex;
 justify-content: center;
 align-items: center;
  background-color: orange;
  height:30px;
  width:150px;
  box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
}
a {
  text-decoration: none;
  color:black;
}
/*<!--------x--------  Home -----------x---------->*/
.about_container{
  background: rgb(76, 187, 181);
  border: solid black;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.about_text{
  margin-left: 55%;
  margin-right: 10%;
  width: 400px;
}
.about_text h1 {
  padding-bottom: 10px;
  font-size: 60px;
  color:white;
}
.about_text p{
  color:white;
  font-size: 12px;
}
.services_container {
  background: lightskyblue;
  border: solid black;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;  
}
.services_text{
  display: flex;
  width:100%;

}
.services_text .services_list{
 display: flex;
align-items: center;
 flex-direction: column;
  width: 50%;
  float: left;
}
.services_list .services_list_elem {
  display: flex;
 
  margin-top: 10px;
  
  
}
.services_list .services_list_elem .list_elem_text {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
  height: 50px;
  width: 250px;
  }
 .services_list_elem img {
  display: flex;
  float:left;
  justify-content: flex-end;
  width: 50px;
  height: 50px;
  background-color: white;
  box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
border-left: solid 1px black;
}
.services_text .ourservices_title{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  float: left;
  color:white;
  font-size: 60px;
}
.enter{
  clear: both;
}

.gallery_container{
  background: yellow;
  border: solid black;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
}

.gallery_text{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center; 
  width: 500px;
}
.gallery_text h1{
  font-size: 60px;
  text-align: center;
}
.gallery_text p{
  padding: 25px;
}
.photos1{
  display: flex;
  flex-direction: row;
}
.big_photo{
  padding: 10px;
}
.photo_small{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.photos2{
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.photo2elem{
  padding: 10px;
}
.gallery_btn{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 150px;
  background-color: cornflowerblue;
  color:white;
  box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);

  }
  .gallery_container img {

    box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);

  }
  .subscribe_container{
    background: white;
  border: solid black;
    background-size: cover;
height: 400px;
    display: flex;
    flex-direction: column;
justify-content: center;  }
  .subscribe_text {
    margin-left: 10%;
    width: 60%;
  }
  .subscribe_text h1{
    font-size: 40px;
    padding-bottom: 20px;
  }
  .subscribe_panel{
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    padding-top: 20px;
  }
   .text_submit {
    box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
height: 30px;
width: 50%;
padding:10px;
margin-right: 20px;
  }
  .submit{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 120px;
    background-color: lime;
    color:white;
    box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
  
  }


/*BLOG*/

  .blog_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    background-color: #b07cf7;
    border: solid black;
    background-size: cover;
    min-height: 100vh;
  
  }
  .blog_container .blog_text {
    margin-top: 40px;
  text-align: center;
  width: 500px; 
  color: white;
  
  }
  .blog_text h1 {
    font-size: 60px;
    padding-bottom: 20px;
    font-family: "Raleway";
font-weight: 700;
  }
  .blog_post {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }
.blog_post_elem {
  width: 370px;
  height: 310px;
  box-shadow: 0px 2px 2.5px rgba(0,0,0,0.5);
margin: 10px;
}
.blog_post_elem img {
  position: relative;
object-fit: cover;
width: 100%;
height: 100%;
z-index: 1;
}
.blog_post_elem .post_details {
  position: absolute;
  width:370px;
  height:310px;
  z-index: 2;
  color:white;
  box-shadow: inset 0px -111px 28px -6px rgba(0,0,0,0.48);

}
.date{
 margin: 20px;
 display:flex;
 align-items: center;
 justify-content: center;
 width: 60px;
 height: 60px;
 border-radius: 5px;
 background-color: #262626;
 opacity: 70%;
}
.text_date{
 text-align: center;
 font-family: Raleway;
 font-size:21px;
}
.post_text {
  padding-top:120px;
  margin: 10px;
  width: 370px;
}
.post_text h1{
 font-size: 20px;
 font-family: 'Raleway';
}
.post_text h2 {
  margin-top:20px;
  font-size: 10px;
  font-family: 'Raleway';
}
.blog_btn {
display: flex;
justify-content: center;
align-items: center;
width: 200px;
height: 55px;
box-shadow: 0px 2px 2.5px rgba(0,0,0,0.5);
background-color: #f72b3b;
color:#FFFF;
}



/*footer Contact */

.contact_container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 background-image: url(./img/contact.jpg);
 background-size: cover;
 background-repeat: no-repeat;
 min-height: 100vh;
}
.contact_text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.contact_text h1{
  padding-top:50px;
  font-size: 60px;
}
.contact_text p{
  margin-top: 20px;
  text-align:center;
}
.contact_container .contact_elem{
  margin-top:30px;
  display:flex;
  flex-direction: row;
  width: 100%;
}
.contact_container .contact_elem .form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.form input{
  margin:5px;
  padding:10px;
  width: 500px;
  height: 30px;
  background-color: #00c4c4;
  opacity: 40%;
  border: none;
  color:white;
}
.form input:focus{
  border-left: solid 5px #355b82;
  opacity:100%;
}
.address{
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 50%;
  font-size: 15px;
}
.address h1{
  font-size: 15px;
  margin-top: 10px ;
}


/* footer container */
.footer_container{
  display: flex;
  flex-direction: row;
  background-size: cover;
  background-color: #262626;
  height:90px;
  bottom: 0;
  width: 100%;
}
.footer_elem {
  display:flex;
  align-items: center;
  justify-content: center;
  width: 33.33%;
  color:#b9b9b9;;
  font-size: 15px;
}

